<!doctype html>
<html lang="es" ng-app="myapp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movies</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

</head>
<body ng-controller="myCtrl as mc">

<section class="row">
    <section class="col s3 m3 l3" ng-repeat="person in mc.uneve">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" ng-src="{{person.url}}">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{person.movie}}<i class="material-icons right">more_vert</i></span>
            <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p ng-repeat="actor in person.reparto">{{actor}}</p>
        </div>
    </div>
    </section>


</section>

<script
        src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

<script src="app/app.js"></script>
</body>
</html>